<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>NoelRaffle</title>
</head>
<body
        style="
      margin: 0;
      padding: 2%;
      background-color: #fff8f1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1ch;
    "
>
<div class="container" style="width: 100%">
  <div class="title-area">
    <img
            style="width: 15%"
            class="img"
            src="http://drive.google.com/uc?export=view&id=1SAB7bapZKF1o7fQJTCB_JOIUmRkMMmzJ"
            alt="father-christmas"
    />
    <h1
            th:text="'Merhaba ' + ${displayName} + ' !'"
            style="
            font-family: Oswald, Avenir Next Condensed, Arial Narrow,
              MS UI Gothic, sans-serif;
            color: tomato;
          "
    ></h1>
  </div>
  <div style="display: flex; align-items: center; justify-content: center">
    <div
            class="content-area"
            style="
            font-family: Avenir, sans-serif;
            margin-right: 16%;
            margin-left: 16%;
          "
    >
      <p>
        2023'ü geride bırakıyoruz, kapılarını kapatıyoruz ve 2024'ün büyülü
        dünyasına adım atıyoruz. Geçmişteki deneyimlerimiz bizi
        şekillendirdi, şimdi ise yeni bir sayfa açma vakti geldi. 2024,
        hayallerinizi gerçekleştirmek, yeni maceralara atılmak ve
        başarıların tadını çıkarmak için bir fırsat sunuyor. Bu yeni yılda
        sağlık, mutluluk ve sevgi bolca olsun. Sevdiklerinizle bir araya
        gelin, gülümseyin ve geleceği coşkuyla karşılayın. Yeni yılın size
        ve sevdiklerinize bolca mutluluk, başarı ve sürprizler getirmesini
        dileriz. 🎉
      </p>
      <p>
        Yeni yıla girerken hediyeleşmek çok uzun zamandır birçok toplumun
        kültürü ve geleneği hâline gelmiştir.
        <span th:text="${raffleTitle}"></span> çekilişini ise sizin için
        gerçekleştirdik ve kimlerin kimlere hediye alacağını belirledik.
        Değerli bir hediye ile bu çekilişe heyecan katacağınızdan eminiz.
        Sizden hediye almanızı beklediğimiz şanslı kişi:
      </p>
    </div>
  </div>
  <div
          class="receiver-area"
          th:text="${receiverDisplayName}"
          style="
          font-size: x-large;
          color: tomato;
          text-align: center;
          margin-top: 20px;
          font-family: Arvo, Museo Slab, Rockwell, Verdana, serif;
        "
  ></div>
  <img
          style="width: 30%; margin: 2%"
          src="https://drive.google.com/uc?export=view&id=1-Px0aZ5k1M1f3tt6GSwKJzIgOmP2tBxv"
          alt="father-christmas"
  />
</div>
</body>
</html>
