<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>NoelRaffle</title>
</head>
<body
        style="
      margin: 0;
      padding: 2%;
      background-color: #fff8f1;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      letter-spacing: 0.1ch;
    "
>
<div class="container" style="width: 100%">
  <div class="title-area">
    <img
            style="width: 15%"
            class="img"
            src="http://drive.google.com/uc?export=view&id=1SAB7bapZKF1o7fQJTCB_JOIUmRkMMmzJ"
            alt="father-christmas"
    />
    <h1
            th:text="'Hello ' + ${displayName} + ' !'"
            style="
            font-family: Oswald, Avenir Next Condensed, Arial Narrow,
              MS UI Gothic, sans-serif;
            color: tomato;
          "
    ></h1>
  </div>
  <div style="display: flex; align-items: center; justify-content: center">
    <div
            class="content-area"
            style="
            font-family: Avenir, sans-serif;
            margin-right: 16%;
            margin-left: 16%;
          "
    >
      <p>
        The most beautiful way to create emotional moments for our loved
        ones is to touch their hearts with gifts. Gift-giving is a
        meaningful step that fosters relationships by creating smiles,
        sharing love, and adding color to special occasions. Unforgettable
        memories often begin with a gift, making gifts special moments that
        strengthen the bond with our loved ones even more. 🎉
      </p>
      <p>
        Gifting not only strengthens emotional bonds but is also one of the
        sweetest ways to share love. One of these exciting moments occurred
        as a result of the
        <span th:text="${raffleTitle}"></span> draw. Among
        thousands of participants, you emerged as a lucky winner. Sharing
        this joy with you brings us great happiness and pride. The prize
        you've won is:
      </p>
    </div>
  </div>
  <div
          class="receiver-area"
          th:text="${giftName}"
          style="
          font-size: x-large;
          color: tomato;
          text-align: center;
          margin-top: 20px;
          font-family: Arvo, Museo Slab, Rockwell, Verdana, serif;
        "
  ></div>
  <img
          style="width: 30%; margin: 2%"
          src="https://drive.google.com/uc?export=view&id=1-Px0aZ5k1M1f3tt6GSwKJzIgOmP2tBxv"
          alt="father-christmas"
  />
</div>
</body>
</html>
